body{
    background-color:  #f2bc94;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 15px;
}
.sidebar{
    height: 100%;
    background-color:#722620;
    width: 180px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 16px;
}
.main {
    margin-left: 180px; 
    font-size: 28px; 
    padding: 0px 10px;
}
.aHome{
    color:#f2bc94;
}
.ul{
    padding-top: 200px;
}
.h{
    color:#30110d;
}
.aBtn{
    text-decoration: none;
}
.btn {
    border: none;
    border-radius: 30px;
    background-color: coral;
}
input[type=text],[type=number], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid black;
    border-radius: 4px;
    box-sizing: border-box;
    background-color:burlywood;
}
.submit{
    background-color: chocolate;
}
.reset{
    background-color: rgb(121, 77, 46);
}

